<? layout('layout', {title: 'New guest'}) ?>

<form id="addGuestDetails">
    <div>
        <label for="">
            First Name: 
            <input type="text" name="firstName" value="">
        </label>
    </div>
    <div>
        <label for="">
            Last Name: 
            <input type="text" name="lastName" value="">
        </label>
    </div>
    <div>
        <label for="">
            UCN: 
            <input type="text" name="UCN" value="">
        </label>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>